{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>{{user.username}}</title>
{% endblock %}

{% block content %}

    <div class="row bg" style="height: 100vh;">
        <div class="col-2 mx-auto my-auto">
            <div class="card shadow-sm rounded" style="background-color: rgba(255, 255, 255, 0.7); backdrop-filter: blur(5px);">
                <div class="card-body text-center py-4">
                    <img src="{% static 'img/logo128.png' %}">
                    <h2 class="text-respect m-0">Respect</h2>
                </div>
                <hr class="m-0">
                <div class="card-body text-center py-4 px-5">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show p-2" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}